@charset "UTF-8";
@import "../_var/colors";
@import "../_var/dimense";

$nav_width: 200px;
$nav_header_height: 100px;
$nav_bottom_height: 50px;

.nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $nav_width;
    height: 100vh;
    border-right: 1px solid $color_border;
    display: flex;
    flex-direction: column;
    transition: left 400ms;
    background-color: $color_bg;
    z-index: 9;
}

@media (max-width: $md) {
    .nav {
        left: -($nav_width + 1);
    }
    .nav {
        &.show {
            left: 0;
            border-right-color: $color_dark;
        }
        .nav__header {
            border-right-color: $color_dark;
        }
    }
}

.nav__header {
    height: $nav_header_height;
    border-bottom: 1px solid $color_border;
    margin: 0 -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
    background: repeating-linear-gradient(135deg,
            $color_border,
            $color_border $line_sep,
            transparent $line_sep,
            transparent 2 * $line_sep);
    a {
        text-decoration: none;
        color: $color_gray;
    }
    h1 {
        font-weight: 400;
    }
    &:hover {
        border-color: $color_dark;
    }
}

.nav__body {
    flex: 1;
    .nav__items {
        padding: 0;
        margin: 0;
    }
    .nav__item {
        opacity: 0.8;
        box-sizing: border-box;
        list-style-type: none;
        border-bottom: 1px solid $color_border;
        transition: all 400ms;
        &:hover {
            cursor: pointer;
            box-sizing: border-box;
            opacity: 1;
            border-color: $color_dark;
        }
        &.active {
            color: $color_dark;
            opacity: 1;
            border-color: $color_dark;
        }
        a {
            padding: 15px;
            display: block;
            height: 100%;
            text-decoration: none;
            color: $color_gray;
        }
    }
}

.nav__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $nav_bottom_height;
    box-sizing: border-box;
    font-size: 12px;
    a {
        color: $color_border;
    }
}