@charset "UTF-8";

$bg: 1200px;
$md: 720px;
$sm: 360px;

$padding_bg: 20px;
$padding_md: 15px;
$padding_sm: 10px;
$padding_xs: 5px;

$margin_bg: 20px;
$margin_md: 15px;
$margin_sm: 10px;
$margin_xs: 5px;

$line_sep: 2px;

$header_height: 100px;
